# Managed by salt - changes will be overwritten
{%- for key, value in settings['global_config']|dictsort %}
{{ key }} "{{ value }}"
{%- endfor %}
audio_output {
    type  "{{ settings['audio_output'] }}"
}
